<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
            <setting name="Mvc.SublayoutRendering" value="{9753D6AD-96A3-42CC-9591-9AA3D83889EE}" />
      
    </settings>
    <pipelines>
      <insertRenderings>
        <processor type="BissTalk.SitecoreSynergy.Pipelines.MvcRenderingToWebFormsProcessor, BissTalk.SitecoreSynergy" patch:after="*[last()]"/>
      </insertRenderings>
      <mvc.buildPageDefinition>
        <processor  type="BissTalk.SitecoreSynergy.Pipelines.SublayoutRenderingToMvcProcessor, BissTalk.SitecoreSynergy" patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']" />
      </mvc.buildPageDefinition>
    </pipelines>
    <settings>
    </settings>
  </sitecore>
</configuration>