<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <sites>
        <site patch:before="site[@name='website']" name="SitecoreSynergy-Demo" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/BissTalk/SynergyDemo" startItem="/Home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="100MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" />
      </sites>
  </sitecore>
</configuration>